# CSV files
*.csv

# data folder
data/

# Pickle files
# *.pkl - files are small enough for git and needed for deployment

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# Others
.DS_Store
.vscode/
